# Make.com webhook URL'leri
CONTACT_WEBHOOK_URL=https://hook.eu1.make.com/YOUR_WEBHOOK_ID
SUPPORT_WEBHOOK_URL=https://hook.eu1.make.com/YOUR_WEBHOOK_ID

# Blog API güvenlik anahtarı (opsiyonel)
BLOG_API_KEY=

# Admin panel şifresi (varsayılan: afn2024)
ADMIN_KEY=afn2024
